* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 150px 0 0 0;
}
h1 {
text-align: center;
}
#input {
    width: 100%;
    min-height: 50px;
    margin-top: 40px;
}
#button {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 250px;
    height: 50px;
    background-color:#8ed309;
    border: none;
    color: white;
    text-transform: uppercase;
    &:active {
        background-color: #7ebb09;
    }
}